<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home/login.css" />
    <script src="/js/home/register.js" defer></script>
    <title>네이버 로그인</title>
  </head>
  <body>
    <!-- <input id="id" type="text" placeholder="아이디" /><br />
    <input id="pw" type="text" placeholder="비밀번호" /><br />
    <button>로그인</button> -->
    <div class="login-page">
      <img
        src="/img/home/Naver Logo Green.png"
        width="244px"
        alt="image not founded"
      />
      <div class="form">
        <form id="login-form" class="hidden">
          <div id="id-line" class="input-row">
            <input
              id="idInput"
              required
              maxlength="15"
              type="text"
              placeholder="아이디"
            />
          </div>
          <div id="name-line" class="input-row">
            <input id="nameInput" required type="text" placeholder="이름" />
          </div>
          <div id="pw-line" class="input-row">
            <input
              id="pwInput"
              required
              maxlength="15"
              type="password"
              placeholder="비밀번호"
            />
          </div>
          <div id="pw-confirm-line" class="input-row">
            <input
              id="confirm-pw"
              required
              maxlength="15"
              type="password"
              placeholder="비밀번호 확인"
            />
          </div>
          <div id="button-line">
            <input
              id="button"
              type="submit"
              value="회원가입"
              style="cursor: pointer"
            />
          </div>
          <p class="message">
            <a href="/login">로그인</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
